
/* RIGHT SIDE BAR */

.options {
    display: flex;
    flex-direction: row;
    width: 14%;
}

/* #options-left {
    background-color: white;
    width: 30%;
} */

#options-right {
    /*background-color: #eee;*/
    width: 100%;
}

.options ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.options h1 {
    text-align: center;
    line-height: 4em;
}

.options ul li a {
    margin-bottom: 1em;
    /* border-radius: 20px; */
    display: block;
    /* background-color: black; */
    /* background-color: #eee; */
    /* width: 8vw; */

    font-size: 1.2em;
    color: black;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease-out;
    
}

.options ul li a div {
    background: url(../../resources/img/harry2avatar.png) no-repeat center center;
    background-size: cover;
    margin: 1em;
    padding: 5%;
    /* width: 10vh; */
    height: 30vh;
}

.options ul li a:hover {
    background-color: transparent;
    color: black;
    cursor: auto;
}

#right-bar-left div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2em;
}

#right-bar-left h2 {
    font-size: 1.2em;
    margin-left: 0.5em;
}
#right-bar-left p {
    font-size: 1.2em;
    margin-left: 0.5em;
}




